<%- include ('partials/header.ejs') %>
<%- include ('partials/top_nav.ejs') %>

<main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    
    <img src="img/headshot.jpg" width="250" height="250">
    <br>
    <p>My name is Sandy Ly and I am in my second year of the Software Engineering Technology program 
        <br>
        at Centennial College. I also have an Honours Bachelor of Science from the University of 
        <br>
        Toronto as well as a Bachelor of Education from Nipissing University. I love the
        <br>
        problem solving aspect of programming and am also interested in learning more about databases.
    </p>
    <br>
    <a href="img/resume.pdf">Click here to view my resume</a>
</div>
</main>

  
<%- include ('partials/footer.ejs') %>
