<%- include ('partials/header.ejs') %>
<%- include ('partials/top_nav.ejs') %>

    <h1><%= title %></h1>
    <p>
        <div class="container">
            <form action="action_page.php">
          
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name">

              <label for="lname">Phone Number</label>
              <input type="text" id="phone" name="phone" placeholder="Your phone number">

              
              <label for="lname">Email Address</label>
              <input type="text" id="email" name="email" placeholder="Your email address">
          
              <div class="message-container">  
              <label for="subject">Message</label>
              <textarea id="message" name="message" placeholder="Write your message" style="height:200px"></textarea>
          
              <input type="submit" value="Submit">
          
            </form>
          </div>



    </p>


  
<%- include ('partials/footer.ejs') %>