<%- include ('partials/header.ejs') %>
<%- include ('partials/top_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my <%= title %> page</h1>
    <p>I am eating</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      
      <%- include ('partials/footer.ejs') %>

