<%- include ('partials/header.ejs') %>
<%- include ('partials/top_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my <%= title %> page</h1>
    <p>Hello and welcome to my personal portfolio website where I will be highlighting
    <br>
    some of the work that I have completed as a Software Engineering student. </p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      
      <%- include ('partials/footer.ejs') %>

