<%- include ('partials/header.ejs') %>
<%- include ('partials/top_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my <%= title %> page</h1>
    <p>Hello! Welcome to my personal portfolio website where I will 
    <br>be highlighting some of the work that I have completed 
    <br>as a Software Engineering student. </p>
    </div>
    </main>

    <!--bottom nav-->
   
   
      <!--script section-->
      
      <%- include ('partials/footer.ejs') %>

