<%- include ('partials/header.ejs') %>
  <%- include ('partials/top_nav.ejs') %>


    <main class="container">
      <div class="jumbotron">

        <!-- title of page -->
        <h1 class="display-4">Welcome to my <%= title %> page</h1>

        <!-- welcome message on homepage-->
        <p>Hello! Welcome to my personal portfolio website where I will
          <br>be highlighting some of the work that I have completed
          <br>as a Software Engineering student.
        </p>
        <br>

        <!-- coding photo on homepage -->
        <img src="img/homepage_pic.jpg" width="400" height="300">
        <br>
      </div>
    </main>

    <%- include ('partials/footer.ejs') %>