<%- include ('partials/header.ejs') %>
  <%- include ('partials/top_nav.ejs') %>

    <main class="container">
      <div class="jumbotron">

        <!-- title of page -->
        <h1 class="display-4">
          <%= title %>
        </h1>

        <p>
          <!-- photo for service page -->
          <img src="img/servicespic.jpg" width="400" height="300">
          <br>

          <!-- list of services offered -->
          I offer the following services:
        <ul>
          <li>Programming in C#, Java, and Python</li>
          <li>Web development using VS Code</li>
          <li>Creating databases</li>
        </ul>

        </p>

      </div>
    </main>

    <%- include ('partials/footer.ejs') %>